.accordion {
  margin-top: 5%;
  .accordion-item {
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    .accordion-title {
      margin: 3% 0;
      padding: 10px;
      cursor: pointer;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      font-size: 18px;
    }

    .accordion-content {
      padding: 10px;
      background-color: transparent;
    }

    .icon {
      font-size: 24px;
    }
  }

  .accordion-item:last-child .accordion-title {
    border-bottom: none;
  }
}
