.registration-container {
  width: 100%;
  max-width: 600px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;

  .heading {
    text-align: center;
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    color: #2da950;
    font-size: 30px;
  }

  .subHeading {
    font-family: "Manrope", sans-serif;
    font-size: 45px;
    font-weight: 900;
    font-style: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      width: 70%;

      .input-field,
      .outline-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto 15px;

        input {
          width: 100%;
          padding: 12px;
          border-radius: 100px;
          border: 1px solid #ccc;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          font-size: 16px;
          margin-bottom: 2%;

          &:focus {
            border-color: #0056b3;
            box-shadow: 0 0 5px rgba(0, 86, 179, 0.25);
            outline: none;
          }
        }

        .error-message {
          color: red;
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 14px;
          margin-top: 5px;

          svg {
            margin-right: 5px;
            font-size: 16px;
          }
        }
      }
      .outline-btn {
        background-color: #c9c9c9;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: #000000;
          color: white;
        }
      }
    }
  }
}
