.success-container {
  width: 100%;
  max-width: 600px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;

  .heading {
    text-align: center;
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    color: #2da950;
    font-size: 30px;
    margin-top: 20px;
  }

  .subHeading {
    font-family: "Manrope", sans-serif;
    font-size: 45px;
    font-weight: 900;
    font-style: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .content {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }

  .redirect {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #999;
    text-align: center;
    span {
      color: #000;
    }
  }

  svg {
    display: block;
    margin: 0 auto;
    color: #4caf50;
    font-size: 4rem;
  }
}
